<section class="benefis">
    <div class="wrapper">
        <h1 class="main-heading">Кредит онлайн під 0,01% за 5 хвилин</h1>
        <ul class="benefit">
            <li class="benefit__card">
                <img src="./images/icon/cursor.webp" alt="">
                Виберіть найкращі пропозиції
            </li>
            <li class="benefit__card">
                <img src="./images/icon/contact-form.webp" alt="">
                Надішліть заявки на отримання грошей
            </li>
            <li class="benefit__card">
                <img src="./images/icon/notification.webp" alt="">
                При 3-х заявках,
                шанс отримання 99%
            </li>
            <li class="benefit__card">
                <img src="./images/icon/money.webp" alt="">
                Отримайте до 20,000₴ на карту
            </li>
        </ul>
    </div>
</section>