<section class="benefits">
    <div class="wrapper">
        <h1 class="main-heading">Кредит онлайн під 0,01% за 5 хвилин</h1>
        <ul class="benefit">
            <li class="benefit__card">
                <img src="./images/icon/cursor.webp" alt="">
                <span class="card-text">
                    Виберіть найкращі пропозиції
                </span>
            </li>
            <li class="benefit__card">
                <img src="./images/icon/contact-form.webp" alt="">
                <span class="card-text">
                    Надішліть заявки на отримання грошей
                </span>
            </li>
            <li class="benefit__card">
                <img src="./images/icon/notification.webp" alt="">
                <span class="card-text">
                    При 3-х заявках,
                    шанс отримання 99%
                </span>
            </li>
            <li class="benefit__card">
                <img src="./images/icon/money.webp" alt="">
                <span class="card-text">
                    Отримайте до 20,000₴ на карту
                </span>
            </li>
        </ul>
    </div>
</section>