<section class="cards">
    <div class="wrapper">
        <ul class="cardlist">
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/credit7.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/creditplus-com-ua.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/eGroshi.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/zeCredit.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/mycredit.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/dinero_ua.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/ccloan_ua.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/Moneyveo.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/vashsGotivochka.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/ukrpozyka-credit.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/7alexcredit.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/miloan-logo.png" alt="">
                </div>
                <div class="card__info">

                </div>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
        </ul>
    </div>
</section>