<section class="cards">
    <div class="wrapper">
        <ul class="cardlist">
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/credit7.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/creditplus-com-ua.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/eGroshi.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/zeCredit.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/mycredit.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/dinero_ua.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/ccloan_ua.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/Moneyveo.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/vashsGotivochka.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/ukrpozyka-credit.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/7alexcredit.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
            <li class='card'>
                <h2 class='visually-hidden'>

                </h2>
                <div class="image-container">
                    <img src="./images/logo/miloan-logo.png" alt="">
                </div>
                <ul class="card__info">
                    <li class="card__text-left">
                        1-й кредит
                    </li>
                    <li class="card__text-right">
                        до 15 000₴
                    </li>
                    <li class="card__text-left">
                        Ставка
                    </li>
                    <li class="card__text-right">
                        від 0.01%
                    </li>
                    <li class="card__text-left">
                        Схвалення
                    </li>
                    <li class="card__text-right">
                        99,2%
                    </li>



                </ul>
                <a href="" class="card__button">Оримати гроші</a>
            </li>
        </ul>
    </div>
</section>