<section class="notice">
    <div class="wrapper">
        <div class="logo">
            <img src="./images/logo/logo.svg" alt="Кредит Минута">
            <p class="logo__text">
                minuta.credit
            </p>
        </div>
        <p class="seo__text">
            Сайт Minuta.credit не є кредитором та не видає кредити. Усі кредитні організації, за якими наведено
            порівняння, мають відповідну ліцензію кредитної установи. Інформація на сайті має ознайомлювальний характер.
            Всі рекомендації є результатом аналітичних досліджень і не мають рекламного характеру. Робота цього сайту не
            пов'язана із здійсненням інвестиційної діяльності. Усі матеріали цього сайту охороняються законодавством про
            авторське право. Ознайомитись із політикою конфіденційності можна тут.
        </p>
    </div>
</section>