<section class="seo__carousel">
    <div class="wapper">
        <ul class="carousel__list">
            <li class="list__item">
                <h3>

                </h3>
                <p class="item__text">

                </p>
            </li>
            <li class="list__item">
                <h3>

                </h3>
                <p class="item__text">

                </p>
            </li>
            <li class="list__item">
                <h3>

                </h3>
                <p class="item__text">

                </p>
            </li>
            <li class="list__item">
                <h3>

                </h3>
                <p class="item__text">

                </p>
            </li>
            <li class="list__item">
                <h3>

                </h3>
                <p class="item__text">

                </p>
            </li>
            <li class="list__item">
                <h3>

                </h3>
                <p class="item__text">

                </p>
            </li>
        </ul>
    </div>
</section>