.benefits {
  margin-top: 70px;
}

.main-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.benefit {
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit__card {
  padding: 10px;
  min-width: 270px;
  flex-basis: calc((100% - 2 * 40px) / 2);
  display: flex;
  align-items: flex-end;
}

.card-text {
  margin-left: 20px;

  font-size: 16px;
}
